<table border="1">
  <tr>
    <td>Sender</td>
    <td>Time</td>
    <td>Message</td>
  </tr>
  <% @conversations.each do |conversation| %>
      <% message = conversation.last_message %>
      <tr>
        <td><%= message.sender.name %></td>
        <td><%= l(message.created_at, format: :without_seg) %></td>
        <td><%= message.body.html_safe %></td>
      </tr>
  <% end %>
</table>

<%= will_paginate %>