<li>
  <div class="smart-timeline-icon">
    <img src="/assets/avatars/matias-2843edd7848c89d7860c35f5143f99ae.png" width="32" height="32" alt="user" />
  </div>
  <div class="smart-timeline-time">
    <small><%= time_ago_in_words(activity.created_at) %></small>
  </div>
  <div class="smart-timeline-content">
    <%= user_link(activity) %>
    <p><i class="fa fa-plus-square-o fa-border fa-lg"></i>
      Creó <strong><%= t("activerecord.models.#{activity.trackable_type.underscore}.one") %></strong>
      <%= trackable_label(activity) %>
    </p>
  </div>
</li>
