<li>
  <div class="smart-timeline-icon">
    <img src="http://images.vectorhq.com/images/premium/thumbs/147/user-or-member-secret-agent-avatar-woman-people-icon-isolated-on-white-background-vector-illustration_147168479.jpg" width="32" height="32" alt="user" />
  </div>
  <div class="smart-timeline-time">
    <small>1 hr ago</small>
  </div>
  <div class="smart-timeline-content">
    <p><a href="javascript:void(0);"><strong>Otra usuaria</strong></a></p>
    <p><i class="fa fa-trash-o fa-border fa-lg"></i>Borró <strong><%= t("activerecord.models.#{activity.trackable_type.underscore}.one") %></strong> <em>Nombre de producto</em></p>
  </div>
</li>