<section id="widget-grid">
  <div>
  </div>
  <div class="row">
    <%= render 'projects_widget', locals: {projects: @projects_obra, query_instance: @q_obra, query_name: 'q_obra'} %>
    <%= render 'projects_widget', locals: {projects: @projects_administracion, query_instance: @q_administracion, query_name: 'q_administracion'} %>
    <%= render 'projects_widget', locals: {projects: @projects_cultura, query_instance: @q_cultura, query_name: 'q_cultura'} %>
  </div>

</section>

