<h1>Algo esta mal</h1>
<h3>Probablemente ya hayas confirmado tu cuenta.</h3>
<h3>Intenta iniciar sesión desde la app móvil.</h3>
<p><strong>Recuerda:</strong></p>
<p>1) Si olvidaste tu contraseña, usa el el link de la app móvil para cambiarla.</p>
<p>2) Si no recibiste el email para confirmar tu cuenta, usa el link de la app móvil para reenviar el email de confirmación. No olvides checar la bandeja de correo no deseado.</p>