<div class="login-message">
  <div class="title">
    <h2>Algo está mal</h2>
  </div>
  <div class="description">
    <h4>Probablemente ya hayas confirmado tu cuenta. Intenta iniciar sesión desde la app móvil de verificaciones.</h4>
  </div>
</div>
