<h1>Algo esta mal</h1>
<h2><%= flash[:alert].to_s %></h2>

<%#= link_to t('pages.login.sign_out'), :destroy_api_user_session, data: {method: :delete, 'logout-msg': "Esta seguro?", action: "apiUserLogout"} %>