<h1>Bienvenido!</h1>
<h3>Tu cuenta ha sido confirmada</h3>
<h3>Inicia sessión desde la app y comienza a verificar</h3>

<%#= link_to t('pages.login.sign_out'), :destroy_api_user_session, data: {method: :delete, 'logout-msg': "Esta seguro?", action: "apiUserLogout"} %>