<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>

<!-- ******** Jquery UI ********* -->
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<!-- ******** Page setup ********* -->
<script type='text/javascript'>pageSetUp();</script>

<!-- ******** Date-time picker ********* -->
<script type='text/javascript'>
	$.datetimepicker.setLocale('es');
	$('.datetimepicker').datetimepicker();

	$('.datepicker').datetimepicker({
		timepicker : false,
		format : 'd.m.Y'
	}); 
</script>

<!-- ********Autocomplete (remoto JSON) ********* -->
<script>
	$(function() {
		function log(message) {
			$("<div>").text(message).prependTo("#log");
			$("#log").scrollTop(0);
		}


		$("#autocomplete").autocomplete({
			source : function(request, response) {
				$.ajax({
					url : "/thing_parts.json",
					dataType : "json",
					data : {
						term : request.term,

					},
					success : function(data) {

						dataMapped = $.map(data, function(item) {
							return {
								label : item.name,
								value : item.name,
								id : item.id

							};

						});
						response(dataMapped);
						//console.log("id: "+dataMapped[0].id);
					}
				});
			},
			minLength : 1,
			select : function(event, ui) {
				log(ui.item ? "Selected: " + ui.item.label : "Nothing selected, input was " + this.value);
			},
			open : function() {
				$(this).removeClass("ui-corner-all").addClass("ui-corner-top");
			},
			close : function() {
				$(this).removeClass("ui-corner-top").addClass("ui-corner-all");
			}
		});
	});

</script>

<script>
//AUTOCOMPLETE DROPDOWN


	/*var temp = {
	 "1" : "string1",
	 "2" : "string2",
	 "3" : "string3",
	 "4" : "string4",
	 "5" : "string5"
	 };*/
	 
	 var temp = [{"id":6,"name":"test3","field1":"test3"},{"id":5,"name":"test2","field1":"test2"},{"id":4,"name":"test1","field1":"fild1"}]
console.log(temp);
	

	var $select = $('#multiple-select');
	$select.find('option').remove();
	$.each(temp, function(key, value) {
		
		//$select.append('<option value=' + key + '>' + value + '</option>');
	}); 
</script>

<script></script>

<%= yield :javascript_per_page %>