<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>

<!-- ******** Jquery UI ********* -->
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<!-- ******** Page setup ********* -->
<script type='text/javascript'>pageSetUp();</script>

<!-- ******** Date-time picker ********* -->
<script type='text/javascript'>
	$.datetimepicker.setLocale('es');
	$('.datetimepicker').datetimepicker();

	$('.datepicker').datetimepicker({
		timepicker : false,
		format : 'd.m.Y'
	}); 
</script>

<!-- ********Autocomplete (remto JSON) ********* -->
<script>
	/*$.ajax({
	 dataType : "json",
	 url : "/thing_parts.json",
	 success : function(data) {
	 var obj = data.responseText;
	 console.log(obj);
	 }
	 });*/

	  $(function() {
    function log( message ) {
      $( "<div>" ).text( message ).prependTo( "#log" );
      $( "#log" ).scrollTop( 0 );
    }
 
    $( "#autocomplete" ).autocomplete({
      source: function( request, response ) {
        $.ajax({
          url: "/thing_parts.json",
          dataType: "json",
          data: {
           // q: request.term
           term: request.term
          },
          success: function( data ) {
            response( data );
          }
        });
      },
      minLength: 1,
      select: function( event, ui ) {
        log( ui.item ?
          "Selected: " + ui.item.label :
          "Nothing selected, input was " + this.value);
      },
      open: function() {
        $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
      },
      close: function() {
        $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
      }
    });
  });

	// Perform other work here ...

	//$.getJSON("/thing_parts.json", function(data) {

</script>
//AUTOCOMPLETE DROPDOWN
<script>
	var temp = {
		"1" : "string1",
		"2" : "string2",
		"3" : "string3",
		"4" : "string4",
		"5" : "string5"
	};

	/*
	 $.getJSON('data/tables.json', function(data) {
	 //Productos

	 //First row
	 prodId1 = data.Productos[0].id;
	 prodClave1 = data.Productos[0].clave;
	 prodNombre1 = data.Productos[0].nombre;
	 prodCat1 = data.Productos[0].categoria.nombre;
	 prodDesc1 = data.Productos[0].descripcion;

	 });

	 <!-- END JSON Data -->

	 var $select = $('#multiple-select');
	 $select.find('option').remove();
	 $.each(temp, function(key, value) {
	 $select.append('<option value=' + key + '>' + value + '</option>');
	 });
	 */
</script>

<%= yield :javascript_per_page %>