<!-- MAIN PANEL -->
<div id="main" role="main">

<%= render "layouts/ribbon" %>

  <!-- MAIN CONTENT -->
  <div id="content">

    <!-- row -->
    <div class="row">
      <%= render 'shared/flash_messages' %>

      <!-- col -->
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1 class="page-title txt-color-blueDark">
          <!-- PAGE HEADER -->
          <!-- <i class="fa fa-lg fa-fw fa-cube"></i>--> <%= @content_title.html_safe %></h1>
      </div>
      <!-- end col -->

    </div>
    <!-- end row -->

    <!--
    The ID "widget-grid" will start to initialize all widgets below
    You do not need to use widgets if you dont want to. Simply remove
    the <section></section> and you can use wells or panels instead
    -->
    <div class="well">
      <%= yield %>
    </div>

  </div>
  <!-- END MAIN CONTENT -->

</div>
<!-- END MAIN PANEL -->