<div class="row">

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

    <div class="well well-sm">
      <!-- Timeline Content -->
      <div class="smart-timeline">
        <ul class="smart-timeline-list">
          <%= yield %>
        </ul>
      </div>
      <!-- END Timeline Content -->

    </div>

  </div>

</div>